<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EmailTo" value="chris.hey@co-operative.coop"/>
    <add key="ServiceInterval" value="15000"/>
    <add key="RemovalInterval" value="30" />
    <add key="RootFolder" value="C:\\Documents and Settings\\hey0ch\\My Documents\\My Music\\podcasts"/>
    <add key="ExcludedFolders" value=""/>
  </appSettings>
</configuration>